body, html {
    width:100%;
    height: 100%;
    font-family:'Bebas Neue', cursive;
}

.btn-danger {
    background-color: orange;
}

.nav-link {
    background-color: rgba(195, 148, 92, 0.5);
    color: #1e6e43;
}

.nav-link:hover {
    background-color: rgba(195, 148, 92, 0.5);
    color: #1e6e43;
}

#fotoSobre {
    width: 400px;
    height: 267px;
}
